# Replace the credentials here with your own.
# Rename this file to config.json before starting the app, and delete these two lines.

{
  "discoveryUsername" : {your discovery username},
  "discoveryPassword" : {your discovery password},
  "collection_id" : {your collection id},
  "configuration_id" : {your configuration id},
  "environment_id" : {your environment id}
}
