/* padding and border are included in total width and height of elements */
* {
  box-sizing: border-box;
}

input[type=text], select {
  height: 50px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;  
  font-size: 16px;
}

.jumbotron {
  margin-bottom: -2rem;
}

._full-width-row_gray, #box {
  background-color: #f4f4f4;
  height: 10.5rem;
}

.query_collapsed, #box {
  height: 6.2rem;
  padding: 10rem 0;
  background: none;
  background-color: #9753e1;
  margin-bottom: -2rem;
}

._full-width-row, #box {
  padding: 1rem 0;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
}

#appTitle {
  margin-top: 1rem;
  padding-bottom: -2rem;
  font-size: 60px;
}

#titleDiv {
  white-space: normal;  
}

#jumbotronTop {
  margin-top: -.1rem;
  padding-bottom: -10rem;
}

#titleDiv {
  padding-bottom: -10rem;
}

#secondOpinion {
  position: absolute;  
  right: 1.5rem;
  padding-bottom: 1rem;
}
#discovery, #discoveryDemo{
  top: .1rem;
  position: relative;
  left: 1rem;
}

#watsonLogo {
  position: relative;
  left: 49rem;
  bottom: 9rem;
  width: 7%;
  height: 7%;
}

#discoveryLogo {
  position: relative;
  right: 50rem;
  bottom: 8.7rem;
  width: 7%;
  height: 7%;
}

header{
  position: relative;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  padding-bottom: 1.8rem;
  color:black;
}

#inputInstructions {
  margin-left: -1rem;
}

#productUrl {
  width: 51rem;
}

#wordCloudContent {
  display: inline;  
  color: black;
}

#numberOfKeywords {
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  width: 24px;
  height: 36px;
  padding: 2px;
  margin-right: 1rem;
  background: #fff;
  border: 1px solid #666;
  color: #666;
  text-align: center;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: left;
}

#keyword {
  margin-left: 1rem;  
  color: #9753e1;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 24px;
  text-align: left;
}

a:link {
  color: purple; 
  background-color: transparent; 
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
}

input[type=submit]:hover {
  background-color: #0CABE8;
}

#goButton {
  height: 50px;
  padding: 8px 27px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #0F7F9E;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: white;
}

.col-md-12 {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  margin: 15px 5px 15px 5px;
  color: white;
}

.loader {
  /* border: 16px solid #ccc; Light grey */
  border-top: 10px solid #9753e1;
  border-right: 10px solid transparent;  
  border-radius: 100%;
  width: 100px;
  height: 100px;
  animation: spin 1.0s ease infinite;
  margin-top: 200px;
}
@keyframes spin {
  100% { transform: rotate(360deg); }
}

#myLoader {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 900;
}

h1{
	font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
  line-height: 26.4px;
  color: black;  
}

h3 {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  padding-bottom: 2px;
  color:black;
}

h2 {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  padding-bottom: 6px;
  padding-top: 6px;  
  font-style: normal;
	font-variant: normal;
	font-weight: normal;
  color: black;
}

p{
	font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
  line-height: 26.4px;
  text-align: left;
  padding-left: 10px;
  color: black;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: left;  
  min-height: 20px;
  padding: 19px;
  font-size: 20px;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-inner {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  color: #f8ce0b;
  text-shadow: -0.01px 0 orange, 0 0.01px orange, 0.01px 0 orange, 0 -0.01px orange;
}

#rating {
  display: inline-block;
  margin-right: .5em;
  margin-bottom: 2em; 
  margin-top: -1em;   
}

#reviewText {
  margin-top: -50px;  
}

#amazonRating {
  margin-top: -5rem;
  margin-right: 10rem;  
}

#sentimentRating {
  float: right;
  margin-right: 9rem;
  font-style: italic;
  margin-right: 11rem;    
}
#productHeader{
  float: left;
  margin-left: 17rem;  
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  color: black;
  font-size: 46px;
  margin-top: 2rem;
  margin-bottom: -1rem;
}

#topEntities, #topKeywords, #relatedConcepts, #sentimentTitle {
  margin-bottom:-4px;  
  z-index: 900;
  font-size: 40px;
}
#customerReviews{
  font-size: 40px;  
}

#userIcon {
  font-size:24px;
  color:black;
  float: left;
  margin-left: 10px;
  margin-right: 8px;
}

#productName {
  height: 11.1em;    
  width: 38%;
  text-align: center;
  margin-top: 3rem;
  margin-left: 11rem;
  margin-bottom: 2rem;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  color: black;
  font-size: 36px;
  line-height: 150%;  
  float: left; 
  /* border: 1px solid #e3e3e3; */
}

#showResultsFor {
  float: left;
  margin-left: 1rem;   
  margin-right: 1rem;
  margin-top: 3rem;
  height: 25em;  
  font-style: bold;
}

 #conceptsRow {
  display: inline-block;
}

#sentimentRow {
  display: inline-block;
  padding-top: 2rem;
}

#sentimentCont {
  width: 38%;  
  border: 1px solid #e3e3e3;  
  height: 25em;
  float: right;
  margin-bottom: 3rem;
  margin-top: 2rem; 
  /* margin-left: 55rem;     */
  margin-right: 11rem;
}

#bar-title{
  color: #9753e1;  
}

sentimentDescription {
  margin-bottom: 30em;
}

.bar {
  background-color: #f2f2f1;
  width: 90%;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 30px;
  }

.bar-inner {
  background-color: #9753e1;
  width: 0%;
  height: 100%;
  position: relative;
  transition: width 1000ms linear;
}

.bar-inner:after {
  position: absolute;
  right: 2.5%;
  content: attr(data-percent);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
}

#keywordsCont {
  width: 78.5%;
  height: 25em;
  border: 1px solid #e3e3e3;   
  float: right; 
  z-index: -900;
  margin-bottom: 3rem;
  margin-right: 11rem;
  margin-left: 1rem;
}

#entitiesCont {
  width: 38%;
  height: 25em;
  border: 1px solid #e3e3e3;   
  z-index: -900;
  margin-bottom: 3rem;
  margin-left: 11rem;
  float: left;     
}

#relatedConceptsCont {
  width: 38%;
  height: 25em;
  border: 1px solid #e3e3e3;   
  z-index: -900;
  margin-bottom: 3rem;
  margin-right: 11rem;
  float: right;   
}


#reviewsCont {
  width: 78.5%;
  z-index: -1;
  border: 1px solid #e3e3e3;  
  min-height: 25em;
  margin: auto;
}

.zc-ref {
  text-align: center;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;  
}

#discoveryQueryOutput {
  padding-bottom: 3rem;
  color: red;
}


